// Variables
$upspark-primary: #ffbf00;
$upspark-secondary: #003b60;
$upspark-light: #eaebed;
$upspark-dark: #242424;
$upspark-alternate: #ffe800;

$upspark-primary-dark: #E3AA00;
$upspark-secondary-dark: #002a45;
$upspark-grey: #C9C9C9;
$upspark-grey-dark: #6c757d;
